nav ul {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

nav li {
	list-style-type: none;
	float: left;
}

nav {
	width: 100%;
	
	font-size: 25px;
}

nav a {
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: black;
	text-align: center;
}

sec {
	margin: 0px 10%;
}

left {
	float: left;
	width: 30%;
}

right {
	float: right;
	width: 70%;
}

setion {
	width: 100%;
	min-width: 300px;
	padding-bottom: 10px:
    margin-bottom: 10px;
}

.menu-accueil:hover {
	border-top: 5px solid #4D9FD6;
	background-color: RGBa(228, 77, 38, 0.15);
}

.menu-Pre:hover {
	border-top: 5px solid #4D9FD6;
	background-color: RGBa(000, 112, 192, 0.15);
}

.menu-Res:hover {
	border-top: 5px solid #4D9FD6;
	background-color: RGBa(241, 211, 79, 0.15);
}

.menu-Form:hover {
	border-top: 5px solid #4D9FD6;
	background-color: RGBa(220, 220, 220, 0.15);
}

.menu-Cont:hover {
	border-top: 5px solid #4D9FD6;
	background-color: RGBa(220, 220, 220, 0.15);
}

nav li:hover a {
	padding: 15 px 30px 20px 30px;
}

.element {
	margin-top: 50vh;
	transform: translateY(-50%);
	border-width: 3px;
	border-style: dotted;
	border-color: white;
	padding: 3px;
	width: 500px;
	height: 170px;
	text-align: center;
	text-position: center;
}

.panel {
	font: 50px Verdana, sans-serif;
	margin-top: 100px;
	vertical-align: middle;
}

.flotte {
	float: left;
	margin-left: 100px;
}

.valeurs {
	margin-top: 150px;
	text-align: center;
}

footer {
	height: 80px;
	padding-top: 25px;
	text-align: center;
	background-color: #D7E6BB;
	border-top: 2px solid #AAA;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 20px;
}
